/* This is CSS Style File */

/* Navbar */

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  grid-auto-rows: auto;
  align-items: center;
}

.nav-logo img {
  width: 150px;
  height: auto;
}

#nav-menu {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 20px;
}

#nav-menu a {
  text-decoration: none;
  color: var(--font-primary-color);
  /* Customize link color */
}

.download-cv.button {
  background-color: #2692bc;
  /* Set the button background color */
  padding: 10px 15px;
  /* Add padding to the button */
  /*border-radius: 0px;
   Round the button corners */
  color: var(--font-primary-color);
  /* Text color */
}

/* Hero Section */

#hero {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero h1 {
  font-weight: 800;
  font-size: 40px;
}

#hero p {
  padding-top: 20px;
  color: var(--font-secondary-color);
  font-size: 12px;
}

.font-color {
  font-weight: 800;
  font-size: 40px;
  color: var(--primary-color);
}

.skills {
  font-weight: 300;
  font-size: 24px;
  padding: 20px 0px;
}

.portfolio-container {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  gap: 39.209px;
  background-color: #ffffff1a;
  border: 2px solid #ffffff47;
  width: 300px;
  height: 50px;
  border-radius: 50px;
}

.portfolio-container a {
  text-decoration: none;
}

.portfolio-h4 {
  display: flex;
  background-color: #2692bc;
  width: 150px;
  justify-content: center; /* for width */
  height: 40px;
  align-items: center; /* for height */
  margin-left: 5px;
  border-radius: 50px;
}

.social-media {
  padding-top: 20px;
}

.hero-left h1 {
  font-weight: 800;
  font-size: 40px;
}

.hero-right img {
  width: 100%;
  height: 600px;
}

/*Banner Section*/

#banner-container {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 15px 0px;
  transform: rotate(-3.97deg) scaleX(1.25) scaleY(2); /*Banner Rotate */
  font-size: 17.5px;
}

/*About Me Section*/

#about-me {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me-left h1 {
  font-weight: 800;
  font-size: 40px;
}

.about-me-left p {
  color: var(--font-secondary-color);
  font-size: 12px;
  padding-top: 5px;
}

.about-me-right {
  text-align: right;
}

.about-me-right h1 {
  font-weight: 700;
  font-size: 45px;
}

/* My Experience Section*/

#my-experience {
  margin: 100px 0px;
  background: linear-gradient(
    270.16deg,
    rgba(255, 177, 71, 0.1) 5.74%,
    rgba(255, 108, 99, 0.1) 50.64%,
    rgba(184, 106, 223, 0.1) 92.05%
  );

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-experience-left {
  width: 100%;
}

.my-experience-left h5 {
  font-weight: 600;
  font-style: italic;
}

.my-experience-left h5 {
  font-weight: 600;
  font-style: italic;
}

.my-experience-left h1 {
  font-weight: 700;
  font-size: 40px;
  padding-top: 15px;
}

.my-experience-left p {
  font-size: 18px;
  padding-top: 20px;
  font-weight: 300;
}

.my-experience-right {
  width: 100%;
}

.right-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.right-up h5 {
  font-weight: 600;
  font-style: italic;
}

.right-up p {
  font-size: 13.28px;
}
.experience-block {
  padding: 20px 0px;
}

.experience-block h1 {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--font-secondary-color);
}

/* All Section Top Title*/
.top {
  margin-top: 100px;
  text-align: center;
}
.top h1 {
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 10px;
}

.top p {
  font-size: 12px;
  color: var(--font-secondary-color);
}

/* Awards Section*/
#awards {
  margin: 100px 0px;
}

.awards-f {
  background-color: black;
  padding: 50px 50px;
  margin: 50px 0px;
}

.awards-f p {
  color: var(--font-secondary-color);
}

.awards-flex-fs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.awards-s {
  background-color: black;
  padding: 50px 50px;
  margin: 50px 0px;
}

.awards-s p {
  color: var(--font-secondary-color);
}

/*My Portfolio Section*/

#my-portfolio {
  margin: 100px 0px;
}
