/* This is CSS Style File */

/* Navbar */

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  grid-auto-rows: auto;
  align-items: center;
}

.nav-logo img {
  width: 150px;
  height: auto;
}

#nav-menu {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 20px;
}

#nav-menu a {
  text-decoration: none;
  color: var(--font-primary-color);
  /* Customize link color */
}

.button {
  background-color: #2692bc;
  /* Set the button background color */
  padding: 10px 15px;
  /* Add padding to the button */
  /*border-radius: 0px;
   Round the button corners */
  color: var(--font-primary-color);
  /* Text color */
}

/* Hero Section */

#hero {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero h1 {
  font-weight: 800;
  font-size: 40px;
}

#hero p {
  padding-top: 20px;
  color: var(--font-secondary-color);
  font-size: 12px;
}

.font-color {
  font-weight: 800;
  font-size: 40px;
  color: var(--primary-color);
}

.skills {
  font-weight: 300;
  font-size: 24px;
  padding: 20px 0px;
}

.portfolio-container {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  gap: 39.209px;
  background-color: #ffffff1a;
  border: 2px solid #ffffff47;
  width: 300px;
  height: 50px;
  border-radius: 50px;
}

.portfolio-container a {
  text-decoration: none;
}

.portfolio-h4 {
  display: flex;
  background-color: var(--primary-color);
  width: 150px;
  justify-content: center; /* for width */
  height: 40px;
  align-items: center; /* for height */
  margin-left: 5px;
  border-radius: 50px;
}

.social-media {
  padding-top: 20px;
}

.hero-left h1 {
  font-weight: 800;
  font-size: 40px;
}

.hero-right img {
  width: 100%;
  height: 600px;
}

/*Banner Section*/

#banner-container {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 15px 0px;
  transform: rotate(-3.97deg) scaleX(1.27) scaleY(2); /*Banner Rotate */
  font-size: 17.3px;
}

/*About Me Section*/

#about-me {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me-left h1 {
  font-weight: 800;
  font-size: 40px;
}

.about-me-left p {
  color: var(--font-secondary-color);
  font-size: 12px;
  padding-top: 5px;
}

.about-me-right {
  text-align: right;
}

.about-me-right h1 {
  font-weight: 700;
  font-size: 45px;
}

/* My Experience Section*/

#my-experience {
  margin: 100px 0px;
}

.my-experience-bg {
  background: linear-gradient(
    270.16deg,
    rgba(255, 177, 71, 0.1) 5.74%,
    rgba(255, 108, 99, 0.1) 50.64%,
    rgba(184, 106, 223, 0.1) 92.05%
  );

  background-repeat: no-repeat;
  background-size: cover;
}

.my-experience-wrapper {
  display: flex;
  align-items: center;
  padding: 100px 0px;
}

.my-experience-left {
  width: 100%;
}

.my-experience-left h5 {
  font-weight: 600;
  font-style: italic;
}

.my-experience-left h5 {
  font-weight: 600;
  font-style: italic;
}

.my-experience-left h1 {
  font-weight: 700;
  font-size: 40px;
  padding-top: 15px;
}

.my-experience-left p {
  font-size: 18px;
  padding-top: 20px;
  font-weight: 300;
}

.my-experience-right {
  width: 100%;
}

.right-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.right-up h5 {
  font-weight: 600;
  font-style: italic;
}

.right-up p {
  font-size: 13.28px;
}
.experience-block {
  padding: 20px 0px;
}

.experience-block h1 {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--font-secondary-color);
}

/* All Section Top Title*/
.top {
  margin-top: 100px;
  text-align: center;
}
.top h1 {
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 10px;
}

.top p {
  font-size: 12px;
  color: var(--font-secondary-color);
}

/* Awards Section*/

.awards-f {
  background-color: var(--background-sp-color);
  padding: 50px 50px;
  margin: 50px 0px;
}

.awards-f p {
  color: var(--font-secondary-color);
}

.awards-flex-fs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.awards-s {
  background-color: black;
  padding: 50px 50px;
  margin: 50px 0px;
}

.awards-s p {
  color: var(--font-secondary-color);
}

/*My Portfolio Section*/

.my-projects-button {
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

.normal-button {
  background-color: #2692bc;
  padding: 10px 15px;
  background: var(--background-sp-color);
}

.my-projects-button a {
  text-decoration: none;
  text-align: center;
}

.my-projects-wrapper {
  padding-top: 50px;
  justify-content: space-between;
}

.my-f-project {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding-bottom: 35px;
}

.projects-text h3 {
  font-weight: 600;
  font-size: 15px;
  font-style: italic;
}

.projects-text h1 {
  font-weight: 700;
  font-size: 35px;
  padding: 10px 0px;
}

.projects-text p {
  font-size: 12px;
  text-align: justify;
  word-break: keep-all;
  color: var(--font-secondary-color);
}

.my-S-project {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding-bottom: 50px;
}

/*Contact Section*/

.top h4 {
  font-weight: 600;
  font-style: italic;
}

.contact-gap {
  padding-bottom: 50px;
}

.contact-form-bg {
  background: var(--primary-sp-color);
}

.contact-form {
  padding: 100px 100px;
}

.contact-form h1 {
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 50px;
}

.contact-name-email {
  display: flex;
  flex-direction: row; /* Stack inputs vertically */
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}

.contact-name-email input {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--font-primary-color);
  background: none;
}

#name {
  width: 50%;
  font-weight: 500;
  font-size: 16px;
}

#email {
  width: 50%;
  font-weight: 500;
  font-size: 16px;
}

#massage {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--font-primary-color);
}

.file-input-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.file-icon {
  margin-right: 5px;
  font-size: 20px;
  color: var(--font-primary-color); /* Customize the icon color */
}

.file-input {
  border: none;
  display: none;
}

/*It hides the default file input button.*/
input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.submit-now {
  text-decoration: none;
}

.contact-wrapper {
  padding-bottom: 100px;
}

/* Footer */
#footer {
  background: var(--background-sp-color);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}

.footer-logo img {
  width: 200px;
  padding-top: 100px;
}

#footer-nav-menu {
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 20px;
  padding-top: 50px;
}

#footer-nav-menu a {
  text-decoration: none;
}

.footer-sm {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 0px;
}

.footer-sm ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer-sm li {
  list-style: none;
}

.footer-copyright {
  background-color: #121212;
  padding: 20px 0px;
}

.footer-copyright h3 {
  text-align: center;
}

.fn-color {
  color: var(--primary-color);
}
